@model EntityLayer.Concrete.Portfolio

@{
    ViewData["Title"] = "UpdatePortfolio";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Proje Güncelleme</h1>

<h4>Proje</h4>
<hr />
<div class="row">
    <div class="col-12 grid-margin">
        <form asp-action="UpdatePortfolio" asp-controller="Portfolio" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PortfolioID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                @* <span asp-validation-for="Name" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="ImgUrl" class="control-label"></label>
                <input asp-for="ImgUrl" class="form-control" />
                @* <span asp-validation-for="ImgUrl" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="ProjectUrl" class="control-label"></label>
                <input asp-for="ProjectUrl" class="form-control" />
                @* <span asp-validation-for="ProjectUrl" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="BigImgUrl" class="control-label"></label>
                <input asp-for="BigImgUrl" class="form-control" />
                @* <span asp-validation-for="BigImgUrl" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateStart" class="control-label"></label>
                <input asp-for="DateStart" class="form-control" />
                <span asp-validation-for="DateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateFinish" class="control-label"></label>
                <input asp-for="DateFinish" class="form-control" />
                <span asp-validation-for="DateFinish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Save" class="btn btn-primary">Güncelle ve Kaydet</button>
            </div>
        </form>
    </div>
</div>


