@model Skill

@{
    ViewData["Title"] = "UpdateSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yetenek Güncelleme</h1>

<h4>Yetenek</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateSkill" asp-controller="Skill" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SkillID" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
@*                 <span asp-validation-for="Title" class="text-danger"></span>
 *@            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
@*                 <span asp-validation-for="Value" class="text-danger"></span>
 *@            </div>
            <div class="form-group">
                <button type="submit" value="Save" class="btn btn-primary">Güncelle ve Kaydet</button>
            </div>
        </form>
    </div>
</div>


