@model Experience

@{
    ViewData["Title"] = "AddExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>AddExperience</h1>

<h4>Experience</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddExperience" asp-controller="Experience" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                @* <span asp-validation-for="Name" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                @* <span asp-validation-for="Date" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="ImgUrl" class="control-label"></label>
                <input asp-for="ImgUrl" class="form-control" />
                @* <span asp-validation-for="ImgUrl" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                @* <span asp-validation-for="Description" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="Company" class="control-label"></label>
                <input asp-for="Company" class="form-control" />
                @* <span asp-validation-for="Company" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary">Deneyim Ekle ve Kaydet</button>
            </div>
        </form>
    </div>
</div>

