@model Announcement
@{
    ViewData["Title"] = "AnnouncementDetails";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Duyuru Detayları</h1>

<div class="col-12 grid-margin">
<form>
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="col-md-12"></div>
            <input type="hidden" asp-for="AnnouncementID" />
            <div class="form-group row">
                <label asp-for="Content" class="control-label">İçerik</label>
                <input asp-for="Content" class="form-control" />
                @* <span asp-validation-for="Content" class="text-danger"></span> *@
            </div>
        </div>
    </div>
</form>
</div>
