@model EntityLayer.Concrete.About

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Hakkımda Güncelleme Sayfası</h1>

<h4>Hakkımda</h4>
<hr />
<div class="row">
    <div class="col-md-12 grid-margin">
        <form asp-action="Index" asp-controller="About" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AboutID" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                @*                 <span asp-validation-for="Title" class="text-danger"></span>
                *@
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                @*                 <span asp-validation-for="Description" class="text-danger"></span>
                *@
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                @*                 <span asp-validation-for="Age" class="text-danger"></span>
                *@
            </div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" />
                @*                 <span asp-validation-for="Mail" class="text-danger"></span>
                *@
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                @*                 <span asp-validation-for="Phone" class="text-danger"></span>
                *@
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                @*                 <span asp-validation-for="Address" class="text-danger"></span>
                *@
            </div>
            <div class="form-group">
                <label asp-for="ImgUrl" class="control-label"></label>
                <input asp-for="ImgUrl" class="form-control" />
                @*                 <span asp-validation-for="ImgUrl" class="text-danger"></span>
                *@
            </div>
            <br />
            <div class="form-group">
                <button type="submit" value="Save" class="btn btn-primary">Güncelle ve Kaydet</button>
            </div>
        </form>
    </div>
</div>

