<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/index.html"><img src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/logo.svg" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/index.html"><img src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <ul class="nav">
        <li class="nav-item profile">
            <div class="profile-desc">
                <div class="profile-pic">
                    <div class="count-indicator">
                        <img class="img-xs rounded-circle " src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/faces/face15.jpg" alt="">
                        <span class="count bg-success"></span>
                    </div>
                    <div class="profile-name">
                        <h5 class="mb-0 font-weight-normal">John Doe</h5>
                        <span>Altın Üye</span>
                    </div>
                </div>
                <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                    <a href="/User/Profile/Index/" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-settings text-primary"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Hesap Ayarları</p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="/User/Profile/Index/" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-onepassword  text-info"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Şifre Değiştir</p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-calendar-today text-success"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Yapılacaklar Listesi</p>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="nav-item nav-category">
            <span class="nav-link">Yönlendirmeler</span>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Dashboard/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Gösterge Paneli</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/User/Dashboard/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Yazar Paneli</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Skill/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-format-list-bulleted-type"></i>
                </span>
                <span class="menu-title">Yetenekler</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Experience/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-playlist-play"></i>
                </span>
                <span class="menu-title">Deneyimler</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/ExperienceAjax/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-playlist-play"></i>
                </span>
                <span class="menu-title">Deneyimler (Ajax)</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Portfolio/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-code-braces"></i>
                </span>
                <span class="menu-title">Projelerim</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/About/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-bio"></i>
                </span>
                <span class="menu-title">Hakkımda</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/SubContact/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-calendar"></i>
                </span>
                <span class="menu-title">Alt İletişim</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/SocialMedia/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-calendar"></i>
                </span>
                <span class="menu-title">Sosyal Medya</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Feature/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-pin"></i>
                </span>
                <span class="menu-title">Karşılama Sayfası</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Service/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-laptop"></i>
                </span>
                <span class="menu-title">Hizmetler</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Testimonial/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-account-card-details"></i>
                </span>
                <span class="menu-title">Referanslar</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/MessageContact/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-laptop"></i>
                </span>
                <span class="menu-title">İletişim</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/MessageAdmin/ReceiverMessageList/">
                <span class="menu-icon">
                    <i class="mdi mdi-message"></i>
                </span>
                <span class="menu-title">Gelen Mesajlar</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/MessageAdmin/SenderMessageList/">
                <span class="menu-icon">
                    <i class="mdi mdi-message"></i>
                </span>
                <span class="menu-title">Giden Mesajlar</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/Default/Index/">
                <span class="menu-icon">
                    <i class="mdi mdi-pin"></i>
                </span>
                <span class="menu-title">Siteye Git</span>
            </a>
        </li>
    </ul>
</nav>