@model Testimonial
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>UpdateTestimonial</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateTestimonial" asp-controller="Testimonial" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TestimonialID" />
            <div class="form-group">
                <label asp-for="ImgUrl" class="control-label"></label>
                <input asp-for="ImgUrl" class="form-control" />
                @*                 <span asp-validation-for="ImgUrl" class="text-danger"></span>
                *@
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                @*                 <span asp-validation-for="Name" class="text-danger"></span>
                *@
            </div>
            <div class="form-group">
                <label asp-for="Company" class="control-label"></label>
                <input asp-for="Company" class="form-control" />
                @*                 <span asp-validation-for="Company" class="text-danger"></span>
                *@
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                @*                 <span asp-validation-for="Comment" class="text-danger"></span>
                *@
            </div>
            <div class="form-group">
                <button type="submit" value="Save" class="btn btn-primary">Güncelle ve Kaydet</button>
            </div>
        </form>
    </div>
</div>